<mat-card >
  <mat-card-header class="items-center">
    <mat-card-title>Dispatch settings</mat-card-title>
    <div class="flex flex-grow justify-end">
      <button mat-icon-button (click)="deleteSettings()"
              [disabled]="isLoading || !data" matTooltip="Delete settings">
        <mat-icon>
          remove
        </mat-icon>
      </button>

      <button mat-icon-button (click)="onCreateBtnClick()" [disabled]="isLoading || !!data" matTooltip="Create settings">
        <mat-icon>
          add
        </mat-icon>
      </button>

      <button mat-icon-button (click)="onRefreshBtnClick()" [disabled]="isLoading">
        <mat-icon>
          refresh
        </mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="data; else noData">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <u>Name:</u>
          <br/>
          {{data.name}}
        </div>
        <div>
          <u>Password:</u>
          <br/>
          {{data.password}}</div>
        <div>
          <u>Context:</u>
          <br/>
          {{data.browserContext ? 'EXISTS' : 'NONE'}}</div>
      </div>
    </ng-container>

    <ng-template #noData>
      <div class="h-24 flex flex-grow justify-center items-center">
        NO DATA
      </div>
    </ng-template>
  </mat-card-content>

  <mat-card-actions align="end" *ngIf="data">
    <button mat-button [disabled]="isLoading" (click)="onTestBtnClick()" matTooltip="Test authentication and save it">
      TEST AND SAVE AUTH
    </button>
  </mat-card-actions>

  <mat-card-footer *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
