<!--<div class="flex flex-col h-full">-->

<!--  <app-header (onMenuClick)="toggleSidebar()"></app-header>-->

<!--    <mat-drawer-container class="grow h-full" autosize>-->

<!--      <mat-drawer #drawer mode="side" id="sidbar" [opened]="isOpen">-->
<!--        <app-sidebar></app-sidebar>-->
<!--      </mat-drawer>-->

<!--      <main id="content" class="grow">-->

<!--      </main>-->

<!--    </mat-drawer-container>-->

<!--  <app-footer></app-footer>-->

<!--</div>-->

<router-outlet></router-outlet>



